# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Build folders
dist/
build/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db